@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500;600;700&display=swap');

:root{
    --roxo-azulado : #373D98;
    --azul-esc: #1a1e56;
    --branco: #ffffff;
    --bege-claro:hsl(210, 10%, 92%);
    --cinza:hsl(200, 2%, 69%);
    --verde-claro: #3dd705; 
    --verde-escuro:  #2D4A22;
    --vermelho: red;
    --img-darkmode:url(../img/lua.png);
    --bg-body: #ffffff;
    --bg-header: #1a1e56;
    --cor-letra:#1a1e56;
    --sombra-cartao: 0 1px 3px  #1a1e567e;
    --gif-dark: url(../img/gif-claro.gif);
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    background: var(--gif-dark);
    background-color: var(--bg-body);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: left;
    background-position-y: bottom;
    margin-bottom: 3em;
    transition: .5s;
    user-select:none;
}

header{
    display: flex;
    align-items:start;
    justify-content: center;
    background-color: var(--bg-header);
    color: var(--branco);
    height: 25vh;
    
}

main {
    width: min(90vw, 800px);
    margin: auto;

    
}

#darkMode{
    display: none;
}

.muda-tema{
    background-image:var(--img-darkmode);
    
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 3%;
    right: 2%;
    cursor: pointer;
    }

    .dark-mode{
        --gif-dark: url(../img/gif-dark.gif);
        --img-darkmode:url(../img/sol.png);
        --bg-body: rgb(44, 46, 57);
        --bg-header:hsl(210, 56%, 38%);
        --cor-letra:#ffffff;
        --sombra-cartao: 0 1px 3px  #f8f8f87e; 
    }

.cabecalho{
    font-size: 28px;
    font-weight: bold;
}

.container-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-img{
    width: 100px;
    margin: -10px 0;
}

.balanco-financeiro{
    margin-top: -4em;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.card{
    background-color:  var(--bege-claro);
    color: var(--azul-esc);
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.card h3{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card p{
    font-size: 24px;
}

.card-total{
    background-color: var(--verde-claro);
    color: var(--branco);
}

.novatransacao {
    color: var(--verde-escuro);
}

.novatransacao:hover{
    color: var(--verde-claro);
}

.transacao{
    display: block;
    width: 100%;
    overflow: auto;
   
}

.novatransacao{
    display: inline-block;
    padding: 1em;
}

#tabela-info{
    width: 100%;
    border-spacing: 0 0.5em ;
    
}


table tr {
    box-shadow: var(--sombra-cartao);
    padding: 1em 2em;
    text-align: left;
    
}

table tbody tr{
    opacity: .6;
}

table tbody tr:hover{
    opacity: 1;
}

table thead tr th, table tbody tr td{
    color: var(--cor-letra);
    padding: 1em;
    font-weight:normal;
}

.gasto {
    color: var(--vermelho);
}
.entrada{
    color: var(--verde-claro);
}



/*modal*/
.modal_total{
    height: 100%;
    width: 100%;
    background-color: #1c114599;
    color:var(--azul-esc);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    opacity: 0;
    visibility: hidden;
}

.ative{
    opacity: 1;
    visibility: visible;
    
}

.modal{
    background-color: var(--bege-claro);
    padding: 2em;
    width: min(60vw, 400px);
    
}

modal .form{
    display: flex;
    align-items: center;
}

.item-form{
    margin: 1em;
    width: 90%;
}

.item-form input{
    border-radius: .5em;
    width: 70%;
    border: 1px solid var(--azul-esc);
}

input::placeholder{
    padding: 1em;
}

.text-fomr{
    font-size: small;
    font-weight:100;
    
}

.indexTab{
    display: none;
}

.botoes{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-form, .botoes button{
    padding: .25em;
    background: transparent;
    border-radius: 25px;
    opacity: .5;
}

.button-form{
    color: var(--vermelho);
    border: 1px solid var(--vermelho);
}

.botoes button, .cadastrar{
    color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
    cursor: pointer;
}

.cadastrar:hover{
    color: var(--verde-claro);
    border: 1px solid var(--verde-claro); 
}

.button-form:hover{
    opacity: 1;
}

.img-delet{
    width: 10%;
    cursor: pointer;
    background: url(../img/svg/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
}



footer{
    text-align: end;
    font-size: small;
    color: var(--cor-letra);
    padding: 4em 2em;
    height: 5%;
    
    
    
}

@media (min-width: 720px){

    body{
        background-size: 200px;
    }

    .container-cabecalho{
        flex-direction: row;
    }
    
    .cabecalho-img{
        width: 150px;
        margin: 0;
    }


    .balanco-financeiro{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

    .card{
        width: auto;
    }

    footer{
        text-align: center;
        font-size: medium;
    }
}
@media (min-width: 1200px){
    body{
        background-size: 300px;
    }
}